html
    head
        title Queue Master
        script(src="firebase.js")
    body
        .jumbotron
            h1 Queue Master
            button(onclick="reset()") Reset
            .list
                h2 The list is here:
                ul
    script(src="master.js")
        
