body {
	background-color: #EBFFFF;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-weight: 400;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.container {
	position: relative;
	padding-top: 100px;
}

.heading {
	text-align: center;
}

.options {
}

.button {
}

.board {
	border-radius: 6px;
	background-color: #CCFF99;
	position: relative;
	width: 300px;
	height: 315px;
	margin-left: 85px;
	margin-right: 85px;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
}

.row1, .row2, .row3 {
	position: relative;
	margin-bottom: 15px;
	height: 90px;
	width: 300px;
}

.inputbox {
	text-align: center;
	position: relative;
}

.sq1-1, .sq1-2, .sq1-3,
.sq2-1, .sq2-2, .sq2-3,
.sq3-1, .sq3-2, .sq3-3 {
	width: 90px;
	height: 90px;
	position: relative;
	float: left;
	border-radius: 8px;
}